<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | relative_url }}">

  {% if page.layout != "post" %}
  <meta property="og:title" content="{{site.title}}" />
  <meta property="og:description" content="{{site.description | strip_html}}" />
  <meta property="og:url" content="{{site.url}}" />
  <meta property="og:image" content="{{site.logo | absolute_url}}" />
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "{{site.url}}",
      "name" : "{{site.title}}",
      "description" : "{{site.description | strip_html}}",
      "image": "{{site.logo | absolute_url}}"
    }
  </script>
  {% endif %}
</head>