<ul class="post-list">
  <li itemscope itemtype='http://schema.org/BlogPosting'>
    <span class="page-heading" itemprop="name">
      <a class="post-link" itemprop="url" href="https://github.com/wadehuang36/ISBI2012">Image Classifier with ISBI 2012 Data Set</a>
    </span>
    <span class="post-meta" itemprop="description">Use CNN on Caffe to classify each pixel of EM images is border or not (binary classifier).</span>
  </li>
  <li itemscope itemtype='http://schema.org/BlogPosting'>
    <span class="page-heading" itemprop="name">
      <a class="post-link" itemprop="url" href="https://varick.io">Varick, Content Management System</a>
    </span>
    <span class="post-meta" itemprop="description">The frontend(angular) and backend(nodejs) were architected and developed by me.</span>
  </li>
  <li itemscope itemtype='http://schema.org/BlogPosting'>
    <span class="page-heading" itemprop="name">
      <a class="post-link" itemprop="url" href="https://play.google.com/store/apps/details?id=com.cbsi.trainerpass">CBS TrainerPass Android App</a>
    </span>
    <span class="post-meta" itemprop="description">I was the main developer of the Android app.</span>
  </li>
  <li itemscope itemtype='http://schema.org/BlogPosting'>
    <span class="page-heading" itemprop="name">
      <a class="post-link" itemprop="url" href="https://play.google.com/store/apps/details?id=com.cbs.sportsapp.android.afa">CBS Sport Apps</a>
    </span>
    <span class="post-meta" itemprop="description">I was one of developers of the Android app.</span>
  </li>
</ul>
